.cloud{
width: 30%;
    margin: 0 20px;

}
.code{
    width: 20%;
    margin: 0 20px;   
}
.container{
    float: left;
    margin-left: 400px;  
}
.content{
    clear: left;
    padding-top: 20%;
 
}
.computer{
    width: 20%;
    clear: left;
    
}
.content p {
    border: 3px solid blue;
    width:20%;
    margin: 0;
  

}
    
